html, body {
  height: 100%;
  width: 100%;
}
/* The sidebar menu */
.mapselector {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: scroll; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.mapselector a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.mapselector a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.mapselector .closeMapSelecterButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* resizing and touching up maps in map selector */
.mapselector img {
  width: 50%;
  height: auto;
  margin-left: 10%;
  border: 2px solid whitesmoke
}
.mapselector button {
  background : inherit;
}

.mapselector img:hover {
  border: 2px solid gray
}

.agentselector {
  height: 100%; /* 100% Full-height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  margin-left: 0px;
}
.agentselector a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* The button used to open the sidebar */
.mapselecteropenbutton {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  visibility: visible;
}

.mapselecteropenbutton:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .mapselector {padding-top: 15px;}
  .mapselector a {font-size: 18px;}
  .agentselector {padding-top: 15px;}
  .agentselector {font-size: 18px;}
}
